# Deploy your Hyas site to GitHub Pages

name: GitHub Pages

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: './docs/package-lock.json'

      - name: Install dependencies
        working-directory: ./docs
        run: npm install

      - name: Check for linting errors
        working-directory: ./docs
        run: npm test

      - name: Build production website
        working-directory: ./docs
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public